.loader_container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #98bf10;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
}

@media screen and (max-width: 768px) {
  .loader_container {
    height: 100vh;

    .loader {
      width: 30px;
      height: 30px;
    }
  }
}
