*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  color: $color-white;

  .navbar {
    width: 100%;

    .rounded-lg {
      border-radius: 0 !important;

      &:hover {
        background-color: $primary-color !important;
        background: none !important;
      }
    }
    .bg-blue-500 {
      color: $color-white !important;
      background-color: $primary-color !important;
      width: 100%;
      padding: inherit !important;
    }
  }
}
