*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  // color: $color-white;

  .navbar {
    width: 100%;

    .nav_brand {
      width: 100%;
      display: flex;
      align-items: center !important;
      justify-content: center;
      margin-top: 2rem;
    }

    .rounded-lg {
      border-radius: 0 !important;

      &:hover {
        background: none !important;
      }
    }

    .bg-blue-500 {
      color: $color-white !important;
      background-color: $primary-color !important;
      width: 100%;
      padding: inherit !important;
    }
  }

  .toggle_icon {
    color: $primary-color;
    cursor: pointer;
    margin: 5px;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.text_container {
  background-color: #fff;
  border-radius: 10px;
  color: black;
}

.reserve_btn {
  background-color: $primary-color;
  color: $color-white !important;
  border-color: $primary-color !important;

  .icon {
    color: $color-white !important;
  }
}
