body {
  font-family: 'Roboto', sans-serif;
}

.splash_intro {
  text-align: center;

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    -webkit-text-stroke: 1px $secondary-color;
    animation: moveInLeft 1s ease-out;
  }

  h3 {
    font-size: 1.875rem;
    letter-spacing: 0.313rem;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-text-stroke: 1px $color-white;
    color: $secondary-color;
    animation: moveInRight 1s ease-out;
  }

  p {
    font-size: 1rem;
    animation: moveInBottom 1s ease-out;
  }
}
